---
import { getEntry, render } from "astro:content";

import WritingsContent from "../../layouts/WritingsContent.astro";
import WritingsPage from "../../layouts/WritingsPage.astro";
import { getNotesEntries } from "../index.astro";

export async function getStaticPaths() {
    return (await getNotesEntries()).map((entry) => {
        return { params: { id: entry.id } };
    });
}

const { id } = Astro.params;
const entry = await getEntry("notes", id);
if (entry === undefined) {
    return Astro.redirect("/404");
}

const { Content, headings } = await render(entry);
---

<WritingsPage pageName={`'${entry.data.title}'`} desc="">
    <Fragment slot="nav:page-links">
        {
            headings.map((v) => (
                <li>
                    <a href={`#${v.slug}`}>{v.text}</a>
                </li>
            ))
        }
    </Fragment>

    <Fragment slot="page-title">{entry.data.title}</Fragment>

    <WritingsContent Content={Content} />
</WritingsPage>
