---
import { getEntry, render } from "astro:content";
import { getCollection } from "astro:content";

import Section from "$layouts/Section.astro";

import { defaultDescription } from "../../components/WritingDescription.astro";
import WritingDetails from "../../components/WritingDetails.astro";
import WritingsContent from "../../layouts/WritingsContent.astro";
import WritingsPage from "../../layouts/WritingsPage.astro";

export async function getStaticPaths() {
    return (await getCollection("writings")).map((entry) => {
        return { params: { id: entry.id } };
    });
}

const { id } = Astro.params;
const entry = await getEntry("writings", id);
if (entry === undefined) {
    return Astro.redirect("/404");
}

const { Content, headings } = await render(entry);
---

<WritingsPage pageName={`'${entry.data.title}'`} desc={entry.data.description || defaultDescription}>
    <Fragment slot="nav:page-links">
        {
            headings.map((v) => (
                <li>
                    <a href={`#${v.slug}`}>{v.text}</a>
                </li>
            ))
        }
    </Fragment>

    <Fragment slot="page-title">{entry.data.title}</Fragment>

    <Section>
        <h2><i>Information</i></h2>

        <WritingDetails entry={entry} />
    </Section>

    <WritingsContent Content={Content} />
</WritingsPage>
