---
import { randomUUID } from "node:crypto";
import fs from "node:fs";
import path from "node:path";

import type { HTMLAttributes } from "astro/types";
import { root } from "astro:config/server";

export type Props = HTMLAttributes<"textarea"> & {
    src: string;
    desc?: string;
};

const { src, desc, class: cls, ...props } = Astro.props;
const file = fs.readFileSync(path.join(root.pathname, "public", src), { encoding: "utf8" });

const uuid = `textfile-${randomUUID()}`;
---

<details>
    <summary>
        <label for={uuid}>
            {desc}
        </label>
        <a class="mono" href={src}>{src}</a>
    </summary>

    <textarea id={uuid} readonly cols="64" rows="14" {...props} class:list={["mono", cls]}>{file}</textarea>
</details>

<style>
    summary {
        min-width: max-content;
        width: 100%;
    }

    textarea {
        text-wrap: nowrap;
    }
</style>
