---
import { Image } from "astro:assets";

import transflag from "./transflag.png";

const size = 128;
---

<div class="transcube">
    <div class="anim" style="animation: 4s linear infinite rotate; transform: rotate3d(1, 0, 0, 45deg)">
        <div class="anim" style="animation: 6s linear infinite rotate; transform: rotate3d(0, 1, 0, 90deg)">
            <div class="anim" style="animation: 8s linear infinite rotate; transform: rotate3d(0, 0, 1, 135deg)">
                <Image
                    alt=""
                    src={transflag}
                    width={size}
                    height={size}
                    format="png"
                    quality="max"
                    class="face"
                    draggable="false"
                    style=`transform: rotateZ(90deg) translateZ(calc(var(--s) / 2));`
                />

                <Image
                    alt=""
                    src={transflag}
                    width={size}
                    height={size}
                    format="png"
                    quality="max"
                    class="face"
                    draggable="false"
                    style=`transform: rotateZ(90deg) rotateY(180deg) translateZ(calc(var(--s) / 2));`
                />

                <Image
                    alt=""
                    src={transflag}
                    width={size}
                    height={size}
                    format="png"
                    quality="max"
                    class="face"
                    draggable="false"
                    style=`transform: rotateY(-90deg) translateZ(calc(var(--s) / 2));`
                />

                <Image
                    alt=""
                    src={transflag}
                    width={size}
                    height={size}
                    format="png"
                    quality="max"
                    class="face"
                    draggable="false"
                    style=`transform: rotateY(90deg) translateZ(calc(var(--s) / 2));`
                />

                <Image
                    alt=""
                    src={transflag}
                    width={size}
                    height={size}
                    format="png"
                    quality="max"
                    class="face"
                    draggable="false"
                    style=`transform: rotateX(90deg) translateZ(calc(var(--s) / 2));`
                />

                <Image
                    alt=""
                    src={transflag}
                    width={size}
                    height={size}
                    format="png"
                    quality="max"
                    class="face"
                    draggable="false"
                    style=`transform: rotateX(-90deg) translateZ(calc(var(--s) / 2));`
                />
            </div>
        </div>
    </div>
</div>

<style>
    .transcube {
        display: flex;
        justify-content: center;
        align-items: center;

        min-width: calc(var(--s) * 2);
        min-height: calc(var(--s) * 2);
        height: auto;

        margin-inline: auto;

        user-select: none;
    }

    @media (prefers-reduced-motion) {
        .transcube {
            display: none;
        }
    }

    .anim {
        width: var(--s);
        height: var(--s);

        transform-style: preserve-3d;
        backface-visibility: hidden;
        animation-composition: add;
    }

    .face {
        display: block;
        position: absolute;

        image-rendering: pixelated;
    }
</style>

<style define:vars={{ size: "96px" }}>
    .transcube {
        --s: var(--size);
        padding: 3.5rem;
    }

    .face {
        border: 2px solid #222;
    }

    @media (max-width: 1200px) {
        .transcube {
            --s: calc(var(--size) / 1.5);
            padding: 2.75rem;
        }

        .face {
            border-width: 1px;
        }
    }
</style>
